<h1>Alejandro González</h1>


<h2>Quien soy</h2>
<img src="https://pbs.twimg.com/profile_images/1280621029/avatar_cara__400x400.png" class="img-fluid" alt="Responsive image">

<p>Soy una persona profesional y comprometida. Ma gusta esforzarme al máximo para salir adelante con mis proyectos laborales y proyectos de vida. Respeto a las personas en sus creencias, gustos y pensamientos. </p>


<h2>Intereses</h2>
<ul class="">
  <li>Sistema operativo Microsoft windows </li>
  <li>Deporte Rugby</li>
  <li>Aplicacion de Android Clash Royale</li>
  <li>Letura: el señor de las moscas.</li>
</ul>

<h3>¿Que pienso acerca de Git?</h3>

<p>Es un proyecto con un objetivo magestuoso. Simplifica el control de cambios. Apoya en identificar quien, cuando y que cambios ha realizado, además controla los conflictos entre un mismo archivo.</p>
