<h1>Artemio Hernandez</h1>


<h2>Quien soy</h2>
<img src="https://www.google.com/imgres?imgurl=http%3A%2F%2Fwww.eluniversal.com.mx%2Fsites%2Fdefault%2Ffiles%2Fstyles%2Ff03-651x400%2Fpublic%2F2018%2F05%2F13%2Fluis_miguel_luis_rey_papa_toxico.jpg%3Fitok%3DnlV2TTeZ&imgrefurl=http%3A%2F%2Fwww.eluniversal.com.mx%2Fespectaculos%2Ftelevision%2Fluisito-rey-el-padre-toxico-de-luis-miguel&docid=su2dtDC8EyMNxM&tbnid=yqfsPjxcsRSq0M%3A&vet=10ahUKEwji_MKm1uXcAhUhh-AKHeMvC40QMwg8KAUwBQ..i&w=651&h=400&bih=803&biw=1440&q=luisito%20rey&ved=0ahUKEwji_MKm1uXcAhUhh-AKHeMvC40QMwg8KAUwBQ&iact=mrc&uact=8" class="img-fluid" alt="Responsive image">

<p>Estudié la carrera de LSIA en 2003 a 2007, Nunca me dediqué a las Tecnologías de información. Actualmente laboro en una compañía automotriz llamada GKN.</p>


<h2>Intereses</h2>
<ul class="">
  <li>Películas</li>
  <li>Futbol</li>
  <li>Comedia</li>
  <li>Deportes extremos</li>
    <ul>
      <li>Pasar Tiempo con la familia</li>
      <li>Para todo mal, mezcal</li>
    </ul>
  </li>
</ul>

<h3>Que pienso del Git??</h3>

<p>Pienso que es una herramienta muy buena para el control de cambios, hará falta mucha práctica para poder aplicar esto de manera natural dentro del desarrollo de proyectos.</p>
