<h1>Hector Perez</h1>


<h2>Quien soy</h2>
<img src="http://www.mundoanimalia.com/images/ejemplares/9c/99/aa/2e99b7de2efefc11e5f273f35e10e0c7/delfos_cbz_10mfb__3837.jpg" class="img-fluid" alt="Responsive image">
<h3>No soy yo</h3>


<p>Hector Manuel Perez Gaytan, nacido en Irapuato Guanajuato el 23 de mayo de 1985. Ciudad actual Guanajuato, Gto.</p>


<h2>Intereses</h2>
<ul class="">
  <li>Comida</li>
  <li>Bebida</li>
  <li>Git</li>
 
</ul>

<h3>Que pienso acerca de Git</h3>

<p> Git es un sistema de control de versiones muy popular en la actualidad, poco a poco le ha ganado terreno a otros sistema de versiones como Mercurial o Subversion, si obviamos sus ventajas frente a otros sistemas de control podríamos decir que debe parte de su fama al portal Github.

Github es por excelencia el sitio de moda para alojar nuestro repositorio de código. Esta basado en Git (aunque sobre decirlo), y es el elegido por grandes empresas como Facebook o Twitter para liberar sus proyectos OpenSource, es tan común en el mundo del desarrollo que muchas ofertas de trabajo te piden como requerimiento tener Github para comprobar que realmente eres tan bueno como dices ser.rcu. Donec odio quam, cursus sed mollis et, laoreet dictum metus.</p>

