<h1>Jorge Macias</h1>


<h2>Quien soy</h2>
<img src="https://avatars0.githubusercontent.com/u/1181550?s=460&v=4" class="img-fluid" alt="Responsive image">

<p>Jorge Macias</p>


<h2>Intereses</h2>
<ul class="">
    <li>GIT</li>
    <li>html5</li>
</ul>

<h3>Que pienso acerca de Git</h3>

<p>Es una herramieta poderosa</p>
