<h1>Jorge Lona</h1>


<h2>Quien soy</h2>
<img src="https://scontent.fgdl3-1.fna.fbcdn.net/v/t1.0-9/29570914_1694483107265107_8518484466825630510_n.jpg?_nc_cat=0&oh=bec786bfbd2594671a9e1a9071dfb9ab&oe=5C0FF37B" class="img-fluid" alt="Responsive image">

<p>Mi nombre completo es Jorge Lona Navarrete, actualmente estoy trabajando en el Campus Guanajuato, de la Universidad de Guanajuato, en mis ratos libres me dedico a la fotografia, de eventos sociales principalmente, pregunten por los paquetes jejeje.</p>


<h2>Intereses</h2>
<ul class="">
  <li>Correr... al camion</li>
  <li>Consectetur adipiscing elit</li>
  <li>Integer molestie lorem at massa</li>
  <li>Facilisis in pretium nisl aliquet</li>
  <li>Nulla volutpat aliquam velit
    <ul>
      <li>Phasellus iaculis neque</li>
      <li>Purus sodales ultricies</li>
      <li>Vestibulum laoreet porttitor sem</li>
      <li>Ac tristique libero volutpat at</li>
    </ul>
  </li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ul>

<h3>Que pienso acerca de Git</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac ligula tempor, fringilla nisl nec, auctor risus. Mauris laoreet ullamcorper mattis. In interdum urna viverra lorem accumsan, eu luctus odio hendrerit. Maecenas nisi mi, tempus at nisi eu, condimentum posuere arcu. Etiam gravida mi orci, ut tempor magna dapibus at. Cras eu erat hendrerit, porta risus et, consectetur neque. Nullam posuere libero eu lacus aliquam facilisis. Nam sed nisl orci. Duis congue ante non tristique faucibus. Nam eleifend vehicula purus, vitae imperdiet est luctus porta. Phasellus vitae augue velit. Integer laoreet libero eget dui efficitur bibendum. In est est, accumsan et lacus porttitor, porttitor bibendum nunc. Duis placerat nisl et nunc aliquet, ac tincidunt ante maximus. Pellentesque at hendrerit arcu, eu accumsan arcu. Donec odio quam, cursus sed mollis et, laoreet dictum metus.</p>
