<h1>Juan Gutiérrez</h1>


<h2>Quien soy</h2>
<img src="includes/juanguty.jpg" class="img-fluid" alt="Responsive image">

<p>Juan Gutierrez Garcia, Lic. En sistemas de Informacion Administrativa.
Actualmente me encuentro laborando en una empresa del sector automotriz llamada DENSO y es de origen Japonesa. Ahi soy el encargado Operativo del Area de Sistemas de la planta.
Tambien hago Social Marketing de forma Profesional y tenemos grupos de emprendimiento en algunas ciudades del bajio.
Me considero una persona inquita que busca desarrollo personal constante en varios ambitos de mi vida como son: Profesional, social, familiar y Espiritual.</p>


<h2>Intereses</h2>
<ul class="">
  <li>Me gusta Bailar</li>
  <li>Me gusta la Tecnologia</li>
  <li>Me gusta conocer Personas y hacer nuevas amistades</li>
  <li>Me gusta el Cine</li>
  <li>Me gusta leer</li>
  <li>Me Gusta Correr</li>
  <li>Me Gustan los Perros como mascotas</li>
  <li>Me Gusta vivir en Irapuato y visitar Gto capital frecuentemente.</li>
</ul>

<h3>Que pienso acerca de Git</h3>

<p>Personalmente no conocia la herramienta ni mucho menos esta forma de trabajo. Considero que es una herramienta excelente para trabajar en colaboracion. Es sencilla pero no deja de ser complejo. Es para mi una filosofia de trabajo mas que una herramienta. Vale la pena invertirle y apostarle para un trabajo profesional en el ambito de la programación</p>
