<h1>Omar Avila Garcia</h1>


<h2>Quien soy</h2>
<img src="" class="img-fluid" alt="Responsive image">

<p>Familia</p>


<h2>Intereses</h2>
<ul class="">
  <li>SCRUM</li>
  <li>GIT</li>
  <li>JAVASCRIPT</li>
  
    <ul>
      <li>Phasellus iaculis neque</li>
      <li>Purus sodales ultricies</li>
      <li>Vestibulum laoreet porttitor sem</li>
      <li>Ac tristique libero volutpat at</li>
    </ul>
  </li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ul>

<h3>Que pienso acerca de Git</h3>

<p>Excelente Herramienta.</p>
