<h1>Christian Jacob Martinez Rojas</h1>

<h2>Quien soy?</h2>
<p>Soy Originario de Leon guanajuato, pero radico en el municipio de San Felipe, gto.
Estudie hasta el bachillerato en este municipio la especialidad de Tec. en informatica, el cual me proyecto para tomar mi carrera de LSIA en la UNIVERSIDAD DE GUANAJUATO, de la cual soy recien egresado. </p>

<h3>Intereses</h3>
<p><ul>Obtener todos los conocimientos que nuestro ponente nos brinda</ul></p>

<h3>Que pienso Acerca de Git?</h3>
<p><ul>Pues me agrado bastante esta herramienta, conocia otras formas y metodos para poder manerjar archivos, pero esta herramienta nos ayuda a poder colaborar con diferentes usuarios ya sea a distancia y de manera remota. Creo que a cualquiera que este trabajando con archivos le agradaria saber que existe esta herramienta y aparte es muy sencillo de utilizar</ul></p>