
<h1>Lleve publica SSH</h1>

<h2>Generando tu clave pública SSH</h2>



<p>Tal y como se ha comentado, muchos servidores Git utilizan la autentificación a través de claves públicas SSH. Y, para ello, cada usuario del sistema ha de generarse una, si es que no la tiene ya. El proceso para hacerlo es similar en casi cualquier sistema operativo. Ante todo, asegurarte que no tengas ya una clave. Por defecto, las claves de cualquier usuario SSH se guardan en la carpeta ~/.ssh de dicho usuario. Puedes verificar si tienes ya unas claves, simplemente situandote sobre dicha carpeta y viendo su contenido: </p>
<p></p>
<p></p>
<p>$ cd ~/.ssh</p>
<p>$ ls/p>
<p>authorized_keys2  id_dsa       known_hosts</p>
<p>config            id_dsa.pub</p>
<p></p>
<p></p>
<p>Has de buscar un par de archivos con nombres tales como 'algo' y 'algo.pub'; siendo ese "algo" normalmente 'iddsa' o 'idrsa'. El archivo terminado en '.pub' es tu clave pública, y el otro archivo es tu clave privada. Si no tienes esos archivos (o no tienes ni siquiera la carpeta '.ssh'), has de crearlos; utilizando un programa llamado 'ssh-keygen', que viene incluido en el paquete SSH de los sistemas Linux/Mac o en el paquete MSysGit en los sistemas Windows:</p>
<p></p>
<p></p>
<p>$ ssh-keygen </p>
<p>Generating public/private rsa key pair.</p>
<p>Enter file in which to save the key (/Users/schacon/.ssh/id_rsa): </p>
<p>Enter passphrase (empty for no passphrase):</p>
<p>Enter same passphrase again: </p>
<p>Your identification has been saved in /Users/schacon/.ssh/id_rsa.</p>
<p>Your public key has been saved in /Users/schacon/.ssh/id_rsa.pub.</p>
<p>The key fingerprint is:</p>
<p>43:c5:5b:5f:b1:f1:50:43:ad:20:a6:92:6a:1f:9a:3a schacon@agadorlaptop.loca</p>
<p></p>
<p></p>
<p>Como se vé, este comando primero solicita confirmación de dónde van a a guardarse las claves ('.ssh/id_rsa'), y luego solicita, dos veces, una contraseña (passphrase), contraseña que puedes dejar en blanco si no deseas tener que teclearla cada vez que uses la clave.</p>
<p></p>
<p></p>
<p>Tras generarla, cada usuario ha de encargarse de enviar su clave pública a quienquiera que administre el servidor Git (en el caso de que este esté configurado con SSH y así lo requiera). Esto se puede realizar simplemente copiando los contenidos del archivo terminado en '.pub' y enviandoselos por correo electrónico. La clave pública será una serie de números, letras y signos, algo así como esto:</p>
<p>$ cat ~/.ssh/id_rsa.pub 
    ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAklOUpkDHrfHY17SbrmTIpNLTGK9Tjom/BWDSU
    GPl+nafzlHDTYW7hdI4yZ5ew18JH4JW9jbhUFrviQzM7xlELEVf4h9lFX5QVkbPppSwg0cda3
    Pbv7kOdJ/MTyBlWXFCR+HAo3FXRitBqxiX1nKhXpHAZsMciLq8V6RjsNAQwdsdMFvSlVK/7XA
    t3FaoJoAsncM1Q9x5+3V0Ww68/eIFmb1zuUFljQJKprrX88XypNDvjYNby6vw/Pb0rwert/En
    mZ+AW4OZPnTPI89ZPmVMLuayrD2cE86Z/il8b+gw3r3+1nKatmIkjn2so1d01QraTlMqVSsbx
    NrRFi9wrf+M7Q== schacon@agadorlaptop.local</p>
<p></p>
<p></p> 





<img src="https://git-scm.com/images/logo@2x.png" class="img-fluid" alt="Responsive image">

<p>   
    <a href="https://git-scm.com/book/es/v1/Git-en-un-servidor-Generando-tu-clave-pública-SSH">Página donde se consulto la información.</a>
</p>
<p></p>
<p></p> 
<p></p>
<p></p> 
<p></p>
<p></p> 
<p></p>
<p></p> 


